@page "/bookings"
@using shelterJADA.Shared
@inject HttpClient Http

<h1>Liste over bookings</h1>


@if (BookingListe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Slet</th>
                <th>BookingID</th>
                <th>Shelternavn</th>
                <th>ShelterID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Start Dato</th>
                <th>Slut Dato </th>
            </tr>
        </thead>
        <tbody>
            @*Laver loop med hvert item i BookingListe*@

            @foreach (var booking in BookingListe)
            {
                <tr>
                <td><input type="button" class="btn btn-danger" value="Slet" @onclick="() => SletBooking(booking)"></td>
                <td>@booking.Id</td>
                <td>@booking.udlejet_shelter.shelter_navn</td>
                <td>@booking.udlejet_shelter.shelter_id</td>
                <td>@booking.bruger.fornavn</td>
                <td>@booking.bruger.efternavn</td>
                <td>@booking.bruger.email</td>
                <td>@booking.bruger.telefon</td>
                <td>@booking.start_dato.ToShortDateString()</td>
                <td>@booking.slut_dato.ToShortDateString()</td>

            </tr>
            }
        </tbody>
    </table>

}

@code {

    @*Laver en tom shelterliste*@

            Booking booking = new Booking();


    private List<Booking> BookingListe;

    @*Lægger data i shelterliste*@

    protected override async Task OnInitializedAsync()
    {
        BookingListe = await Http.GetFromJsonAsync<List<Booking>>("BookingsDB");

    }

   
    //Post-funktion til at slette  en booking
    protected async Task SletBooking(Booking booking)
    {
        await Http.PostAsJsonAsync<Booking>("BookingsDB/slet", booking);

        BookingListe = await Http.GetFromJsonAsync<List<Booking>>("BookingsDB");

    }

}
