@page "/shelterdata"
@using shelterJADA.Shared
@inject HttpClient Http

<h1>ShelterData</h1>

<p>This component demonstrates fetching data from the server.t</p>

@if (ShelterListe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kommunekode</th>
                <th>Kommunenavn</th>
                <th>Shelternavn</th>
                <th>Antal pladser</th>
                <th>K-beskrivelse</th>
                
            </tr>
        </thead>
        <tbody>
            @*Laver loop med hvert item i ShelterListe*@

            @foreach (var shelter in ShelterListe)
            {
            <tr>
                <td>@shelter.Id</td>
                <td>@shelter.Properties.Kommunekode</td>
                <td>@shelter.Properties.Cvr_navn</td>
                <td>@shelter.Properties.Navn</td>
                <td>@shelter.Properties.Antal_pl</td>
                <td>@shelter.Properties.Beskrivels</td>
               
            </tr>
            }
        </tbody>
    </table>
}

@code {

    @*Laver en tom shelterliste*@

    private List<Shelter> ShelterListe;


    @*Lægger data i shelterliste*@

    protected override async Task OnInitializedAsync()
    {
        ShelterListe = await Http.GetFromJsonAsync<List<Shelter>>("ShelterDB/all");

    }

}
